<section class="mb-3">
    <div class="row">
        <div class="col-7">
            <app-income-vs-expense-chart></app-income-vs-expense-chart>
        </div>

        <div class="col-5">
            <app-statistics-card></app-statistics-card>
        </div>
    </div>
</section>

<section class="overview-container">
    <div class="row">
        <div class="col-md-6">
            <app-recent-transactions></app-recent-transactions>
        </div>

        <div class="col-md-6">
            <app-top-transactions></app-top-transactions>
        </div>
    </div>
</section>
