<div class="d-flex justify-content-between align-items-center">
    <h5>Recent Transactions</h5>
    <a
        routerLink="/transactions"
        class="link"
    >View All</a>
</div>

<ul class="list-group">
    <li
        *ngIf="recentTransactions.length === 0"
        class="list-group-item"
    >Nothing to show here yet.</li>

    <ng-container *ngFor="let transaction of recentTransactions">
        <app-transaction-list-item [transaction]="transaction"></app-transaction-list-item>
    </ng-container>
</ul>
